.kebabSettings {
  cursor: pointer;
  position: fixed;
}
.kebabSettings figure {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: white;
  margin: 3px 0;
}
.navSettings{
    position: fixed;
    top: 0.6cm;
    right: 1cm;
}
.SettingsListItem{
  color: #1a1919;
  text-decoration: none;
  font-size: 13px;
  height: 37px;
  font-family: 'Roboto', sans-serif;
}
.dropdownSettings {
  background-color: aliceblue;
  position: absolute;
  right: 0.2cm;
  top: 0.8cm;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
  z-index: 2;
}
.dropdownSettings li {
  display: block;
  width: 100%;
}
.dropdownSettings li a {
  text-decoration: none;
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.dropdownSettings li :hover {
  background: rgba(241, 241, 241, 0.925);
}
.dropdownSettings:hover ul {
  transform: scale(1);
}

.dropdownSettings.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
.kebabHide{
  display: none;
}
.bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}