<div class="mainSettings">
                <div class="settingmodel-mysettings Settinghidden">
                    <input class="settingmodel-close"type="button" value="&times;">
                    <div><h3 id="settingTit"><strong>Change Password</strong></h3></div>
                    <div class="setrow">
                        <label class="lab"><strong>Username</strong></label>
                        <div>
                            <input type="text" readonly class="box1 fixed1" id="username2" value={{username}}>
                        </div>
                    </div>
                    <div class="setrow">
                        <label class="lab"><strong>Old Password</strong></label>
                        <div>
                            <input type="password" class="box1" id="OldPassword" name="OldPassword">
                        </div>
                    </div>
                    <div class="setrow">
                        <label class="lab"><strong>New Password</strong></label>
                        <div>
                            <input type="password" class="box1" id="NewPassword" name="NewPassword">
                        </div>
                    </div>
                    <div class="setrow">
                        <label class="lab"><strong>Confirm Password</strong></label>
                        <div>
                            <input type="password" class="box1" id="ConfirmPassword" name="ConfirmPassword">
                        </div>
                    </div>
                    <div class="warnning">
                        {{errorMessage}}
                    </div>
                    <button type="submit" class="btnChange" name="changePassword" value="changePassword"><strong>Change</strong></button>
                </div>
                <div class="settingmodel-background Settinghidden"></div>
            </div>
            <script>
            const settingsModelBackground = document.querySelector(".settingmodel-background");
            const settingsModel = document.querySelector(".SettingsListItem");
            const settingsHidden = document.querySelector(".Settinghidden");
            const closeSettingsBtn = document.querySelector(".settingmodel-close");
            const modelSettings = document.querySelector(".settingmodel-mysettings");
            const changed = document.querySelector(".btnChange");

            function hideSettingsModel() {
                modelSettings.classList.add("Settinghidden");
                settingsModelBackground.classList.add("Settinghidden");
            }
            
            function showSettingsModel() {
                modelSettings.classList.remove("Settinghidden");
                settingsModelBackground.classList.remove("Settinghidden");
            }

            settingsModel.addEventListener("click", function () {
                showSettingsModel();
            });
            closeSettingsBtn.addEventListener("click", function () {
                hideSettingsModel();
            });
            settingsModelBackground.addEventListener("click", function () {
                hideSettingsModel();
            });
            changed.addEventListener("click", function () {
                hideSettingsModel();
            });
            </script>