<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet "href={{ url_for('static', filename='css/Index.css') }}>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="width:100%;">
        <div class = "top">
        <header>
            <h1>Student Request<br>Management System</h1>
        </header>
        <main>
            <form method="POST">
            <div class="main">
            <div class="welcome">
                Already have an account?
            </div>
            <div class="mb-3 row1">
                <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="staticEmail" placeholder = "Username" name="username">
                </div>
            </div>
            <div class="mb-3 row2">
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder = "Password" name="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            </form>
        </main>
        </div>
        </div>
    </body>
</html>