<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href={{ url_for('static', filename='css/Application.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='css/CommentBoxStyle.css') }} />
    <link
      rel="stylesheet"
      href="https://semantic-ui.com/dist/semantic.min.css"
    />

    <title>Application Form</title>
  </head>
  <body class="outer">
    <form method="POST">
    <div class="Appcontainer">
      <h1 class="Appheading">Application</h1>
      <form action="action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="fname"><strong>Name</strong></label>
          </div>
          <div class="col-75">
            <input
              readonly
              type="text"
              id="fname"
              name="firstname"
              value={{username}}
            />
          </div>
          <div class="col-25">
            <label for="fname"><strong>Index No.</strong></label>
          </div>
          <div class="col-75">
            <input
              readonly
              type="text"
              id="fname"
              name="firstname"
              value={{studentAdmissionNum}}
            />
          </div>
          <div class="col-25">
            <label for="fname"><strong>Assign to</strong></label>
          </div>
          <div class="col-75">
            <input
              readonly
              type="text"
              id="fname"
              name="firstname"
              value={{staffName}}
            />
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="RequestType"><strong>Request Type</strong></label>
          </div>
          <div class="col-75">
            <input
              readonly
              type="text"
              id="RequestType"
              name="RequestType"
              value={{requestValue}}
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject"><strong>Details</strong></label>
          </div>
          <div class="col-75">
            <textarea
              readonly
              id="subject"
              name="subject"
              style="height: 200px"
              
            >{{details}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname"><strong>Evidence</strong></label>
          </div>
          <div class="col-75">
            <form action="/action_page.php">
              <div class="choosefile">
                {% if isnull==True %}
                  No file attached
                {% else %}
                  <form method = "POST" action="/download">
                    <button class="dbut" type="submit" name="downloadFile" value="downloadFile"><a href="{{url_for('download_files')}}" disabled="disabled">{{filename}}</a></button>
                  </form>
                {% endif %}
              </div>
            <!-- <input type="text" id="lname" name="lastname" placeholder="" /> -->
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="lname"><strong>Request Status</strong></label>
          </div>
          <div class="col-75">
            <input
              readonly
              type="text"
              id="RequestType"
              name="RequestType"
              value={{status}}
            />
            </div>
        </form>
          <div class="row">
          <div class="col-25">
            <label for="fname"><strong>Comments</strong></label>
            </div>
            <div class="comB">
              <div id="shouts">
                <ul>
                  <li class="shout recieve">Hey, what are you guys doing?</li>
                  <li class="shout sent">Nothing much, you?</li>
                </ul>
              </div>
              <div id="input">
                <form>
                  <input id="input" type="text" name="user" placeholder="Enter Your Message"/>
                </form>
              </div>
            </div>
        </div>
      </div>
      </form>
      <div class="submitbut">
        <button class="ui primary button subButton" type="submit" value="submitSview" name="submitSview">Submit</button>
        <button class="ui button" type="submit" value="discardSview" name="discardSview">Discard</button>
      </div>
    </div>
    </form>
  </body>
</html>