<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href={{ url_for('static', filename='css/kebabStyle.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/SdashboardStyle.css') }} rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans+Condensed:ital,wght@1,300&family=Padauk&family=Ravi+Prakash&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <form method="POST">
        <header class = "Header1">
            <h1 class="h1"><strong>&nbsp;&nbsp;TERRA<p class="subttl">&nbsp;Student Request Management System</p></strong></h1>
            <div class="pull-right username" id = "username"><div class="uicon"></div>{{username}}</div>
        </header>
        <ul class="navSettings">
            <div class="kebabSettings">
                <figure></figure>
                <figure class="middle"></figure>
                <figure></figure>
                <ul class="dropdownSettings">
                    <li class="SettingsListItem" name="changePasswords"><a class="SettingsListItem" href="/change">Change Password</a></li>
                    <li class="SettingsListItem" name="logout"><a href="/logout" class="SettingsListItem">Log Out</a></li>
                </ul>
            </div>
        </ul>
        <div class = "bg kebabHide"></div>
        <script>
            var kebab = document.querySelector('.kebabSettings'),
            middle = document.querySelector('.middle'),
            cross = document.querySelector('.cross'),
            bg = document.querySelector('.bg'),
            header1 = document.querySelector('.Header1'),
            istog = false;
            dropdown = document.querySelector('.dropdownSettings');

            function tog(value){
                if(value){
                    value = false;
                }else{
                    value = true;
                }
                return value;
            }

            kebab.addEventListener('click', function() {
                istog = tog(istog);
                if(istog){
                    bg.classList.remove('kebabHide');
                }
                middle.classList.toggle('active');
                dropdown.classList.toggle('active');
                if(!istog){
                    bg.classList.add('kebabHide');
                }
                
            })
            bg.addEventListener('click', function(){
                if(istog){
                    middle.classList.toggle('active');
                    dropdown.classList.toggle('active');
                    bg.classList.add('kebabHide');
                    istog = false;
                }
            })
            header1.addEventListener('click', function(){
                if(istog){
                    middle.classList.toggle('active');
                    dropdown.classList.toggle('active');
                    istog = false;
                }
            })
        </script>

        <div class="all">
            <div class="container">
                <div class="row">
                <div class="col-sm-3">
                    <input class="btn btn-danger btn-block btn-compose-email" id="newSubmission" type = "submit" value="New Submission" name="New Submission">
                    <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
                        <li class="active">
                            <a disabled="disabled">                           
                                <i class="fa fa-inbox"></i> Submissions <span class="label pull-right" id = "unreadLab1">{{length}}</span>
                            </a>
                        </li>
                    </ul><!-- /.nav -->
                </div>
                <div class="col-sm-9">
                    <div class="panel rounded shadow panel-teal">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h3 class="panel-title" id="unreadLab2">Submissions ({{length}})</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="panel-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-hover table-email">
                                    <tbody id="text">
                                            {% for application in applications %}
                                            {% if application[4]=="0"%}                                        
                                            <tr class="unread">                                                
                                                <td>
                                                    <button class="btn subOpen" type="submit" name={{application[0]}} value={{application[0]}}></button>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <h4 class="text-primary">{{application[1]}}</h4>
                                                            <p class="email-summary">{{application[2]}}</p>
                                                            <span class="media-meta">{{application[3]}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% else %} 
                                                                               
                                        <tr>
                                            <td>
                                                <button class="btn subOpen" type="submit" name={{application[0]}} value={{application[0]}}></button>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="text-primary">{{application[1]}}</h4>
                                                        <p class="email-summary">{{application[2]}}</p>
                                                        <span class="media-meta">{{application[3]}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</body>
</html>